
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    /* -------- COLORS -------- */
--body-color: #E4E9F7;
--sidebar-color: #fff;
--primary-color: #0c0838;
--primary-color-light: #f6f5ff;
--text-color: #707070;
--toggle-color: #DDD;

/* -------- TRANSITION -------- */

--tran-01: all 0.2s ease;
--tran-02: all 0.3s ease;
--tran-03: all 0.4s ease;
--tran-04: all 0.5s ease;
--tran-05: all 0.6s ease;
--tran-06: all 4.5s ease;

}
  


/* -------------------------------HEADER-------------------------------------- */

main header {
    text-align: center;
    display: flex;
    color: var(--text-color);
    grid-area: my-header;
    /* background-color: cyan; */
    justify-content: center;
  }
  
  .title{
    color: var(--title-color);
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
    font-weight: bold;
  }
  
  .titulo-header{
    position: relative;
    /* background-color: red; */
    justify-content: center;
    text-align: center;
  }

/* -----------------------DIV--------------------- */
main div {
    align-items: center;
    text-align: center;
    color: var(--text-color);
    grid-area: my-div;
    /* background-color: rgb(91, 122, 44); */
  }
  
  .div-area{
    text-align: center;
    justify-content: left;
    align-items: center;
    color: var(--text-color);
    grid-area: my-div;
    /* background-color: rgb(91, 122, 44); */
    display: grid;
  }
  
  .btn-custom {
    background-color: var(--primary-color);
    color: #fff; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  
  .btn-custom:hover {
    background-color: #3a66e0; 
  }
  
  .boton-item {
    display: flex;
    justify-content: flex-start; /* Alinear el contenido a la izquierda */
  }
  
/* ----------------------TABLA-------------------- */

main section {
    /* display: grid; */
    color: var(--text-color);
    grid-area: my-section;
    /* background-color: indigo; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-table{
    /* background-color: red; */
    /* overflow-x: scroll; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  table{
    border-collapse: collapse;
    border: 1px solid var(--text2-color);
    width: 100%;
    max-width: 100%;
    table-layout: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
  }

  /* DIV */
  .text-container {
    max-height: 200px; /* Altura máxima inicial */
    overflow: scroll;
    position: relative;
    font-size: 13px;
    /* text-overflow: hidden; */
  }

  /* DIV */
  
  .table th,
  .table td {
    padding: 7px; /* Espacio entre contenido y borde de las celdas */
    text-align: center; /* Centrar el contenido de las celdas */
    color: var(--text-color);
    /* background-color: var(-); */
    border: 1px solid var(--text-color); 
    font-size: 20px;
  }
  
  .table th {
    background-color: var(--sidebar-color); /* Color de fondo para los encabezados */
    height: 10%;
    color: var(--text2-color);
    border: 1px solid var(--text-color);
  }
  
  
  .table td {
    border: 1px solid var(--text-color); /* Borde de las celdas */
    box-sizing: border-box;
  }
  
  .casilla-editar{
    width: 5%;
  
  }
  
  .casilla-eliminar{
    width: 5%;
  
  }
  
  .boton-editar {
    background-color: var(--primary-color);
    color: #fff; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .boton-editar:hover {
    background-color: #3a66e0; 
  }
  
  .boton-eliminar {
    background-color: rgba(187, 16, 16, 0.952);
    color: #fff; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .boton-eliminar:hover {
    background-color: #e9571d; 
  }



/* -----------------------MEDIA------------------ */

@media (min-width: 375px) and (max-width: 600px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows:
        150px 80px 1fr 100px;
      grid-template-areas:
        "my-header"
        "my-div"
        "my-section"
        "my-footer"
    }
  
  
  }
  
  @media (min-width: 600px) and (max-width: 1000px) {
    main {
      grid-template-columns: 100%;
      grid-template-rows:
        150px 80px 1fr 100px;
      grid-template-areas:
        "my-header"
        "my-div"
        "my-section"
        "my-footer"
    }
  
    table{
      height: 50px;
    }
  
  
  .table th {
    background-color: var(--sidebar-color); /* Color de fondo para los encabezados */
    color: var(--text2-color);
    border: 1px solid var(--text-color);
  }
  
  
  .table td {
    border: 1px solid var(--text-color); /* Borde de las celdas */
  }
  }
  
  @media (min-width: 1001px) and (max-width: 1047px) {
    main {
      grid-template-columns: 200px 1fr;
      grid-template-rows: 100px 80px 1fr 100px;
      grid-template-areas:
        "my-header my-header"
        "my-div my-div"
        "my-section my-section"
        "my-footer my-footer"
    }
  
    table{
      display: flexbox;
      width: 100%;
      max-width: 100%;
      table-layout: auto;
      font-size: 12px;
      height: 100%;
    }
  
  
    td {
      width: 50%;
      box-sizing: border-box;
    }
  
  
  }
  
  @media (min-width: 1048px) {
    main {
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: 100px 80px 1fr 100px;
      grid-template-areas:
        "my-header my-header my-header"
        "my-div my-div my-div"
        "my-section my-section my-section"
        "my-footer my-footer my-footer"
    }
    table{
      width: 100%;
      max-width: 100%;
      table-layout: auto;
      font-size: 12px;
      height: 100%;
    }
  
  }
  
  
  
  